<!-- public/Authentication/changepassword.html -->

<div class="register-page">
    <h1>DREAM</h1>
  <div class="form">
    <form id="register-form" role="form">
      <input type="password" class="form-control" id="newpassword" placeholder="new password" name="newpassword" ng-model="user.newpassword"/>
      <button type="submit" ng-click='changePassword(user)' class="btn btn-primary btn-block">Change Password</button>
      <div class="alert alert-danger" ng-show="reserror != '' ">
        <strong>Error: </strong> {{reserror}}
      </div>
    </form>
  </div>
</div>
